<div class="tabs">
    <ul>
        <li {% ifequal task_list_active_tab "todo" %}class="is-active"{% endifequal %}><a href="{% url 'imacs_app:task_list_todo' task_list.id %}">To do</a></li>
        <li {% ifequal task_list_active_tab "summary" %}class="is-active"{% endifequal %}><a href="{% url 'imacs_app:task_list_summary' task_list.id %}">Summary</a></li>
        <li {% ifequal task_list_active_tab "my_tasks" %}class="is-active"{% endifequal %}><a href="{% url 'imacs_app:task_list_my_tasks' task_list.id %}">My tasks</a></li>
    </ul>
</div>
